h1 {
  text-align: center;
}
.change_month {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.month_days {
  width: 15%;
  margin: 0 auto;
}
.red {
  color: red;
}
